<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivery/css/sections.css' %}">
    <script src="https://kit.fontawesome.com/f1e37334f6.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Cart Items</title>
  </head>
  <body>
    {% if messages %}
      <script type="text/javascript">
          {% for message in messages %}
              alert("{{ message }}");
          {% endfor %}
      </script>
    {% endif %}

    {% csrf_token %}
    <div class="container">
      <div class="header">
          <h1>Cart</h1>
      </div>
      {% include 'delivery/partials/user-nav.html' %}
      <div class="main menu-main">
        <div class="cart-container">
            <div class="cart-items">
                {% if cart.items.count == 0 %}
                <div class="cart-empty">
                    <p>No items in your cart</p>
                </div>
                {% endif %}
                {% for item in cart.items.all %}
                <div class="cart-item">
                    <img class="cart-item-image" src="{{ item.picture }}" alt="" />
                    {% if item.type == "Veg" %}
                    <div class="veg-outline cart-item-type">
                            <div class="veg-symbol"></div>
                    </div>
                    {% elif item.type == "Non Veg" %}
                    <div class="nonveg-outline cart-item-type">
                        <div class="triangle"></div>
                    </div>
                    {% endif %}
                    <div class="cart-item-info">
                        <h2>{{ item.name }}</h2>
                        <h4 class="cart-price">{{ item.price }}</h4>
                    </div>
                    <div class="cart-item-state">
                        <div class="cart-item-btn">
                            <button class="increase-btn" ><i class="fa-solid fa-minus fa-xl" style="color: #ffffff"></i></button>
                            <h3>1</h3>
                            <button class="decrease-btn"><i class="fa-solid fa-plus fa-xl" style="color: #ffffff"></i></button>
                        </div>
                        <h3  class="cart-price">{{ item.price }}</h3>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="cart-summary">
                <div class="delivery-info">
                    <h4>Delivery Information</h4>
                    <h5><i class="fa-solid fa-user fa-xl" style="color: #fd3fb7;"></i>&nbsp;{{customer.name}}</h5>
                    <p><i class="fa-solid fa-phone fa-lg" style="color: #fd3fb7;"></i>&nbsp;{{customer.phone}}</p>
                    <p><i class="fa-solid fa-location-dot fa-bounce fa-xl" style="color: #fd3fb7;"></i>&nbsp;{{customer.address}}</p>
                </div>
                <hr>

                <div class="payment-info">
                    <div><p>Item Total: </p><p class="cart-price">{{ cart.total_price }}</p></div>
                    <div><p>Service Charges: </p><p class="cart-price">{{ cart.additional_charges }}</p></div>
                    <div><p>Delivery Charges: </p><p class="cart-price">{{ 10 }}</p></div>
                    <hr>
                    <div><p>Grand Total: </p><p class="cart-price">{{ cart.additional_charges|add:cart.total_price }}</p></div>
                </div>
                <a href="{% url 'checkout' %}"><button class="payment-btn"><i class="fa-brands fa-apple-pay fa-2xl"></i></button></a>
            </div>
        </div>
      </div>
    </div>
  </body>
{% include 'delivery/partials/footer.html' %}
</html>
