<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f1e37334f6.js" crossorigin="anonymous"></script>
    {% load static %}
    <link href="{% static 'delivery/css/styles.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Meal Mate</title>
</head>
<body>
    <div class="index-container">
        <div class="title">
            <h1><span>Meal Mate</span> <i class="fa-brands fa-xing" style="color: #FFD43B;"></i> <i class="fa-solid fa-burger fa-bounce" style="color: #FFD43B;"></i> <span></span><i class="fa-solid fa-bowl-food fa-bounce" style="color: #FFD43B;"></i></h1>
        </div>
        <div class="buttons">
            <a href="/admin" target="_blank">Admin </a>
            <a href="user-index/">User </a>
        </div>
        <div class="info">
            Welcome to Meal Mate, your go-to app for everything food related.
        </div>
    </div>
</body>
</html>